@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.header {
  font-size: 8rem;
  background-color: transparent;
  padding: 40px 20px 20px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(30, end) 1s forwards;
  text-shadow: 6px 6px 6px #6f828a;
  border-right: none;
}

.q {
  font-size: 20px
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}


button.back {
  background-color: darkred;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
  transition: background-color 1s ease, box-shadow .5s ease;
}

button.back:hover {
  background-color: red;
  box-shadow: 0 0 15px red;
}

/* ---------------------------------------------------------------------------- */

.title {
  font-size: 4rem;
  font-weight: 600;
  margin: 30px 0 10px 50px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.title:hover {
  color: #90ee90;
}


section.func {
  max-height: 0;
  opacity: 0;
  color: transparent;
  border: 1px solid #444;
  border-radius: 10px;
  width: 70vw;
  margin: 20px auto 0;
  padding: 0 30px;
  overflow: hidden;
  transition:
    opacity 0.4s ease,
    max-height 0.6s ease,
    padding 0.4s ease,
    box-shadow 0.4s ease,
    color 0.4s ease;
  overflow-y: scroll;
}

.title:hover + section.func, section.func:hover {
  max-height: 500px;
  opacity: 1;
  color: #f8f8f8;
  padding: 20px 30px;
  box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.4);
}

p.function {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: font-size 0.3s ease, color 0.3s ease;
}

p.function:hover {
  font-size: 2rem;
  color: #aaa;
}

p.description {
  display: list-item;
  font-size: 20px;
  margin-left: 2rem;
  padding-bottom: 15px;
  transition: font-size 0.3s ease;
}

p.function:hover + p.description {
  font-size: 2.6rem;
}

/* ---------------------------------------------------------------------------- */

.title-2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 30px 0 10px 50px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.title-2:hover {
  color: #90ee90;
}

section.usage {
  max-height: 0;
  opacity: 0;
  color: transparent;
  border: 1px solid #444;
  border-radius: 10px;
  width: 70vw;
  margin: 20px auto 0;
  padding: 0 30px;
  overflow: hidden;
  transition:
    opacity 0.4s ease,
    max-height 0.6s ease,
    padding 0.4s ease,
    box-shadow 0.4s ease,
    color 0.4s ease;
  overflow-y: scroll;
}

.title-2:hover + section.usage, section.usage:hover {
  max-height: 500px;
  opacity: 1;
  color: #f8f8f8;
  padding: 20px 30px;
  box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.4);
}

p.step {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: font-size 0.3s ease, color 0.3s ease;
}

p.note {
  display: list-item;
  font-size: 20px !important;
  margin-left: 2rem;
  padding-bottom: 15px;
}

/* ---------------------------------------------------------------------------- */

.title-3 {
  font-size: 4rem;
  font-weight: 600;
  margin: 30px 0 10px 50px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.title-3:hover {
  color: #90ee90;
}

section.fnotes {
  max-height: 0;
  opacity: 0;
  color: transparent;
  border: 1px solid #444;
  border-radius: 10px;
  width: 70vw;
  margin: 20px auto 0;
  padding: 0 30px;
  overflow: hidden;
  transition:
    opacity 0.4s ease,
    max-height 0.6s ease,
    padding 0.4s ease,
    box-shadow 0.4s ease,
    color 0.4s ease;
  overflow-y: scroll;
}

.title-3:hover + section.fnotes, section.fnotes:hover {
  max-height: 500px;
  opacity: 1;
  color: #f8f8f8;
  padding: 20px 30px;
  box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.4);
}

p.final-notes {
  display: list-item;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: font-size 0.3s ease, color 0.3s ease;
}

/* ---------------------------------------------------------------------------- */

.go-next {
  margin:auto;
  background-color: green;
  color: black;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 1s ease, box-shadow 0.5s ease;
}

.go-next:hover {
  background-color: #00ff88;
  box-shadow: 0 0 30px #00ff88;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}