<!DOCTYPE html>

<html>

<head>
    <meta charset="UTf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting Started</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/getting-started.css">
    <script src="{{ url_for('static', filename='js/getting-started.js') }}"></script>
    
</head>

<body>

    <div class="header">Getting Started</div>
    <p class="q center">Hover over the headers on the right</p>
    <button class="back">Go Back to "Information"</button>
    <main>
        <div>
            <h2 class="title">Functions</h2>
            <section class="func">
                <p class="function">1. Intitializing</p>
                <p class="description">To initialize, we need 2 things: the ticker symbol of the company of interest, and the time period in which the data comes from. Time Periods include: "Xmo", "Xd", "Xy", "ytd" (Year-To-Date), and "max" (All Time), where X is an integer. This function also initialized a few things and sets them to the value of None. This included data that we use later on.</p>
                <p class="function">2. get_data(self, data_type=None)</p>
                <p class="description">This function is meant to retrieve the stock data that you want. This is done through Yahoo finance's API. What this function takes is simply a data type. This data type being what you want to look for in the stock data (High, Low, Open, etc.)</p>
                <p class="function">3. model_data(self, column)</p>
                <p class="description">This function is supposed to model the real data we get in a time series plot. All it takes is the specific column of data from the get_data function. NOTE: This function does not work if you do not choose a specific aspect of stock valuation (such as Open, High, Low, etc.)</p>
                <p class="function">4. train_model(self)</p>
                <p class="description">This function uses the data we get from get_data and trains a prophet model on it. This is what we will use to predict our stock valuation.</p>
                <p class="function">5. predict(self, steps)</p>
                <p class="description">This function is what we use to actually predict the stock prices. All it takes is the number of steps (this is in the unit of whatever was chosen when intitializing). This also utilized the same Prophet model created in train_model.</p>
                <p class="function">6. plot_forecast(self, forecast)</p>
                <p class="description">This function plots the original data from get_data AND plots the forecasted/predicted data frp, predict. Again, in a time-series-like plot.</p>
                <p class="function">7. error(self, forecast)</p>
                <p class="description">This function calculates the error in our predictions.</p>
            </section>
            
            <h2 class="title-2">Usage</h2>
            <section class="usage">
                <p class="step">Step 1 : </p>
                <p class="note">This is a note.</p>
                <p class="step">Step 2 : </p>
            </section>

            <h2 class="title-3">Final Notes</h2>
            <section class="fnotes">
                <p class="final-notes">This is where a note would go.</p>
                <p class="final-notes">This is where a note would go.</p>
                <p class="final-notes">This is where a note would go.</p>
                <p class="final-notes">This is where a note would go.</p>
                <p class="final-notes">This is where a note would go.</p>
                <p class="final-notes">This is where a note would go.</p>
            </section>
        </div>

        <button class="go-next center">Click Here</button>

</body>

</html>